/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .wp-block-create-block-amateur-tv {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}

div.atv-cams-list {
	gap: 3px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

a.atv-cam {
	position: relative;
	max-width: 33%;
	text-decoration: none !important;
	line-height: 11px;
	font-weight: inherit !important;
	font-family: inherit !important;
	font-size: inherit !important;
	font-style: inherit !important;
}

a.atv-cam img {
	object-fit: cover;
	vertical-align: middle;
	border-style: none;
	max-width: 100%;
    height: auto;
}

div.atv-annotations {
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    width: 95%;
    height: 95%;
}

span.atv-username {
	top: 0;
	left: 0;
	z-index: 2;
	position: absolute;
	text-decoration: none !important;
}

span.atv-live {
	top: 0;
	right: 5px;
	z-index: 2;
	position: absolute;
	text-transform: uppercase;
	text-decoration: none !important;
	font-size: smaller;
}

.atv-padding {
	padding: 4px;
}

.atv-rounded {
	border-radius: 25px;
}
span.atv-genre {
	top: 15%;
	left: 0;
	z-index: 2;
	position: absolute;
	text-transform: lowercase;
	text-decoration: none !important;
}

span.atv-viewers {
	top: 15%;
	right: 5px;
	z-index: 2;
	position: absolute;
	text-decoration: none !important;
	height: 10px;
	font-size: smaller;
	line-height: 11px;
	width: 13%;
	display: flex;
	flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

div.atv-topic {
	bottom: 0;
	left: 0;
	z-index: 2;
	position: absolute;
	max-width: 100%;
	text-decoration: none !important;
	text-overflow: ellipsis;
	max-width: 80%;
	white-space: nowrap;
	overflow: hidden;
}

div.atv-front {
	max-width: 70%;
	margin: auto;
}

div.atv-iframe {
	pointer-events: none !important;
}